<div class="container">
  <div class="recommendations-wrapper">

    <ng-container *ngIf="filter.length > 0 && filter[0] === 'showAll'; else recommendationDisplay">
      <!-- debug mode -->
      <ul>
        <li *ngFor="let element of recommendations">
          {{ element.name }}
        </li>
      </ul>
    </ng-container>
    <ng-template #recommendationDisplay>
      <div class="mt-4 recommendations">
        <div *ngIf="recommendations.length > 0; else noRecommendations">
          <ng-container *ngFor="let element of recommendations">
            <h3>
              <span>{{ recommendationPrompt }}</span><a href="#" (click)="toggleDetails($event)">{{ element.name }}</a>
            </h3>
            <div class="details" *ngIf="showDetails">

              <!-- details of recommendation-->
              <ng-container *ngIf="isRecipe(element); then recipeTpl else restaurantTpl"></ng-container>
              <ng-template #recipeTpl>
                These are the ingredients:
                <ul>
                  <li *ngFor="let item of element.ingredients.split(',')">
                    <span class="activable" (click)="addToFilter(item)">{{ item }} <i class="bi bi-funnel"></i></span>
                  </li>
                </ul>
              </ng-template>
              <ng-template #restaurantTpl>
                <ul class="list-inline">
                  <li class="list-inline-item" *ngFor="let item of element.classification.split(',')">
                    <span class="badge bg-info activable" (click)="addToFilter(item)">{{ item }} <i class="bi bi-funnel"></i></span>
                  </li>
                </ul>
              </ng-template>
              <a href="{{ recommendationUrl(element) }}">show it to me</a>
            </div>
          </ng-container>
        </div>

        <ng-template #noRecommendations>
          <h3>You´r too picky {{ insult }}, adjust your choices!</h3>
        </ng-template>

        <!-- choices -->
        <div *ngIf="filter.length > 0" class="choices">
          <p >
            <span>{{ filterPrompt }}: </span>
            <ng-container *ngFor="let choice of filter" >
              <span class="badge bg-info">{{ choice }}</span>
              &nbsp;
            </ng-container>
          </p>
          <!--<span class="activable" (click)="clearFilter()">Remove all that shit</span>-->
        </div>


      </div>
    </ng-template>

    <div class="actions">
      <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col">
            <button type="submit" class="btn btn-link">{{ somethingElse }}</button>
            <button *ngIf="choice != 'restaurant'" type="button" class="btn btn-link" (click)="setChoice('restaurant')">I wanna go out</button>
            <button *ngIf="choice != 'cooking'" type="button" class="btn btn-link" (click)="setChoice('cooking')">I feel like cooking</button>
          </div>
          <div class="col">
            <h4>Filter with these ...</h4>
            <textarea class="form-control" id="ingredients" formControlName="ingredients" placeholder="{{ filterPlaceholder }}"></textarea>
          </div>
        </div>
      </form>
    </div>

    <!-- TODO: feature not active yet
    <div class="history" *ngIf="history.length > 0">
      <h3>History</h3>
      <div class="row">
        <div class="col" *ngFor="let item of history">
          <a href="{{ recommendationUrl(item) }}">{{item.name}}</a>
        </div>
      </div>
    </div>
    -->

  </div>

</div>
