<div class="container" *ngIf="recommendation">
  <div class="recommendations-wrapper">
    <div class="mt-4 recommendations">
      <h3>{{ recommendation!.name }}</h3>
      <div class="details">
        <!-- details of recommendation-->
        <ng-container *ngIf="isRecipe(recommendation); then recipeTpl else restaurantTpl"></ng-container>
        <ng-template #recipeTpl>
          These are the ingredients:
          <ul>
            <li *ngFor="let item of parseIngredients(recommendation)">
              <span class="activable">{{ item }} <i class="bi bi-funnel"></i></span>
            </li>
          </ul>
        </ng-template>
        <ng-template #restaurantTpl>
          <ul class="list-inline">
            <li class="list-inline-item" *ngFor="let item of parseClassifications(recommendation)">
              <span class="badge bg-info activable">{{ item }} <i class="bi bi-funnel"></i></span>
            </li>
          </ul>
        </ng-template>
      </div>
    </div>
  </div>
</div>
